{% extends 'base/base.html' %}

{% block content %}
<div class="container my-4">
    <h2>Tu Carrito</h2>

    {% if items %}
        <table class="table table-bordered mt-3">
            <thead class="table-dark">
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.producto.nombre }}</td>
                        <td>${{ item.producto.precio }}</td>
                        
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p><strong>Total CLP:</strong> ${{ total }}</p>
        

        
        <div class="mt-4">
            <a href="{% url 'iniciar_pago' %}" class="btn btn-primary">Pagar</a>
            <a href="{% url 'limpiar_carrito' %}" class="btn btn-warning"> Limpiar Carrito</a>

        </div>
    {% else %}
        <div class="alert alert-warning mt-4">
            <p>Tu carrito está vacío.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
