{% extends 'base/base.html' %}

{% load static %}

{% block content %}
		<!-- SECCIÓN -->
		<div class="section" style="margin-top: 4rem; margin-bottom: 4rem;">
			<!-- contenedor -->
			<div class="container">
				<!-- fila -->
				<div class="row">
					<!-- Imagen principal del producto -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							<div class="product-preview">
								<img src="{% if producto.imagen %}{{ producto.imagen.url }}{% else %}{% static 'img/sensoroxigeno.jpg' %}{% endif %}" alt="{{ producto.nombre }}">
							</div>
						</div>
					</div>
					<!-- /Imagen principal del producto -->

					<!-- Imágenes en miniatura del producto -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							<div class="product-preview">
								<img src="{% if producto.imagen %}{{ producto.imagen.url }}{% else %}{% static 'img/sensoroxigeno.jpg' %}{% endif %}" alt="{{ producto.nombre }}">
							</div>
						</div>
					</div>
					<!-- /Imágenes en miniatura del producto -->

					<!-- Detalles del producto -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{ producto.nombre }}</h2>
							<div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
							</div>
							<div>
								<h3 class="product-price">${{ producto.precio }} {% if producto.precio_anterior %}<del class="product-old-price">${{ producto.precio_anterior }}</del>{% endif %}</h3>
								<span class="product-available">{% if producto.stock > 0 %}En Stock{% else %}Sin Stock{% endif %}</span>
							</div>
							<p>{{ producto.descripcion }}</p>

							<div class="add-to-cart">
								<div class="qty-label">
									Cantidad
									<div class="input-number">
										<input type="number" name="cantidad" min="1" value="1">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button class="add-to-cart-btn" data-id="{{ producto.id }}"><i class="fa fa-shopping-cart"></i> Agregar al carrito</button>
							</div>

						</div>
					</div>
					<!-- /Detalles del producto -->
				</div>
				<!-- /fila -->
			</div>
			<!-- /contenedor -->
		</div>
		<!-- /SECCIÓN -->
{% endblock %}
