{% extends 'base/base.html' %}

{% load static %}

{% block content %}
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categorias</h3>
							<div class="checkbox-filter">

								<div class="input-checkbox">
									<input type="checkbox" id="category-1">
									<label for="category-1">
										<span></span>
										Repuestos
										<small>(5)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-2">
									<label for="category-2">
										<span></span>
										Electrónica
										<small>(5)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-3">
									<label for="category-3">
										<span></span>
										Accesorios
										<small>(5)</small>
									</label>
								</div>
							</div>
						</div>

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Top Vendidos</h3>
							<div class="product-widget">
								<div class="product-img">
									<img src="{% static 'img/plumillas.webp' %}" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Repuestos</p>
									<h3 class="product-name"><a href="#">Plumillas<a><h3>
									<h4 class="product-price">$4.000</h4>
								</div>
							</div>
							
							<div class="product-widget">
								<div class="product-img">
									<img src="{% static 'img/tapa.webp' %}" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Repuestos</p>
									<h3 class="product-name"><a href="#">Tapa Combustible<a><h3>
									<h4 class="product-price">$6.000</h4>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">

						<!-- store products -->
						<div class="row">
							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/plumillas.webp' %}" alt="Plumillas">
									</div>
									<div class="product-body">
										<p class="product-category">Repuestos</p> 
										<h3 class="product-name"><a href="#">Plumillas</a></h3>
										<h4 class="product-price">$4.000</h4>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carro</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/sensoroxigeno.jpg' %}" alt=""> 
									</div>
									<div class="product-body">
										<p class="product-category">Repuestos</p>
										<h3 class="product-name"><a href="#">Sensor de Oxígeno</a></h3>
										<h4 class="product-price">$40.000</h4>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carro</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/tapa.webp' %}" alt="" height="260" >
									</div>
									<div class="product-body">
										<p class="product-category">Repuestos</p>
										<h3 class="product-name"><a href="#">Tapa de Combustible</a></h3>
										<h4 class="product-price">$6.000</h4>	
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carro</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-lg visible-md"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/cubrevolante.webp' %}" alt=""> 
									</div>
									<div class="product-body">
										<p class="product-category">Accesorios</p>
										<h3 class="product-name"><a href="#">Cubre Volante</a></h3>
										<h4 class="product-price">$10.000</h4> 
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carro</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/alfombras.avif' %}" alt=""> 
									</div>
									<div class="product-body">
										<p class="product-category">Accesorios</p>
										<h3 class="product-name"><a href="#">Alfombras</a></h3>
										<h4 class="product-price">$10.000</h4>
										
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carro</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/pastillafreno.webp' %}" alt=""> 
									</div>
									<div class="product-body">
										<p class="product-category">Repuestos</p>
										<h3 class="product-name"><a href="#">Pastiila de freno</a></h3>
										<h4 class="product-price">$120.000</h4>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							<!-- /product -->

							<div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/radio.webp' %}" alt=""> 
									</div>
									<div class="product-body">
										<p class="product-category">Electrónica</p>
										<h3 class="product-name"><a href="#">Radio Bluethooth</a></h3>
										<h4 class="product-price">$90.000</h4>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carro</button>
									</div>
								</div>
							</div>
							<!-- /product -->

					
							<!-- /product -->

							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/bateria.webp' %}" alt=""> 
									</div>
									<div class="product-body">
										<p class="product-category">Repuestos</p>
										<h3 class="product-name"><a href="#">Batería</a></h3>
										<h4 class="product-price">$64.000</h4>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							
							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/liquido.jpg' %}" alt=""> 
									</div>
									<div class="product-body">
										<p class="product-category">Repuestos</p>
										<h3 class="product-name"><a href="#">Liquido de Frenos</a></h3>
										<h4 class="product-price">$14.000</h4>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							
							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/discofreno.jpg' %}" alt=""> 
									</div>
									<div class="product-body">
										<p class="product-category">Repuestos</p>
										<h3 class="product-name"><a href="#">Disco de frenos</a></h3>
										<h4 class="product-price">$90.000</h4>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
									</div>
								</div>
							</div>
							
							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/radiador.png' %}" alt=""> 
									</div>
									<div class="product-body">
										<p class="product-category">Repuestos</p>
										<h3 class="product-name"><a href="#">Radiador</a></h3>
										<h4 class="product-price">$40.000</h4>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carro</button>
									</div>
								</div>
							</div>
							
							<div class="clearfix visible-sm visible-xs"></div>

							<!-- product -->
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{% static 'img/antena.png' %}" alt=""> 
									</div>
									<div class="product-body">
										<p class="product-category">Repuestos</p>
										<h3 class="product-name"><a href="#">Antena</a></h3>
										<h4 class="product-price">$10.000</h4>
									</div>
									<div class="add-to-cart">
										<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Agregar al carro</button>
									</div>
								</div>
							</div>
							<!-- /product -->
						</div>
						<!-- /store products -->

						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock %}
